<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div>
    <form method="post">
        <label>NAME:</label><br>
        <input name="one" type="text" placeholder="write your name" id="name"><br><br>
        <label>USERNAME</label><br>
        <input name="two" type="email" placeholder="write your username" id="username"><br><br>
        <label>PASSWORD</label><br>
        <input name="three" type="password" placeholder="choose your password" id="password"><br><br>
        <input type="submit" value="CREATE USER"><br><br>
    </form>
</div>
</body>
</html>
